version: '3.9'

services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: service_db
    ports:
      - 5432:5432
  adminer:
    image: adminer
    ports:
      - 8088:8088
    depends_on:
      - db